 :root {
  --primary-color: #940591;
  --secondary-color: antiquewhite;
  --dark-grey: #2b2b2b;
  --bigfont: 50px;
  --mediumfont: 25px;
  --header-weight: 700;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 2;
}
h1 {
  font-size: var(--bigfont);
  font-weight: var(--header-weight);
  color: var(--primary-color);
}
h2 {
  font-size: var(--mediumfont);
  font-weight: var(--header-weight);
  color: var(--primary-color);
}
a {
  color: var(--primary-color);
  padding: 5px 5px;
  transition-duration: 3s;
  transition-property: opacity;
}

a:hover,
a:focus {
  cursor: pointer;
  opacity: 0.5;
  padding: 5px 5px;
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: var(--primary-color);
  text-decoration: none;
  padding: 5px 5px;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #e0b354;
  padding: 5px 5px;
}

.page-header {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  padding: 10px;
  max-height: 200px;
}


.logo {
  object-fit: cover;
  max-height: 50px;
  max-width: 200px;
  border-color: white;
}

.page-header__item {
  flex: 0 1 200px;
  object-fit: cover;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
}

.navigation-list__item {
  color: var(--primary-color);
  font-weight: bold;
  transition: 3s background-color;
  text-decoration: none !important;
  font-size: var(--mediumfont);
}

.navigation-list__item:hover {
  color: var(--primary-color);
  font-weight: bold;
  background-color: var(--secondary-color);
}

.navigation-list__item--active {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 25px;
  background-color: var(--secondary-color);
  border-radius: 5%;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--primary-color);
  color: white !important;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: -2px -3px 101px -16px rgba(0,0,0,0.35) inset;
  transition-duration: 3s;
  transition-property: opacity, background-color;
  font-size: 15px;
  margin: 0;
  left: 50%;
}

.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  background-color: #e0b354;
  border-radius: 3px;
  padding: 10px;
}

.message-form {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
  box-shadow: -2px -3px 120px -45px rgba(0,0,0,0.35);
}

.profile__portrait {
  float: left;
  min-width: 250px;
  max-width: 300px;
  height: auto;
  margin-right: 40px;
  margin: 15px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
  height: 70px;
  line-height: 0;
  bottom: 0;
  width: 100%;
}

.index-page-footer {
  clear: both;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
  height: 70px;
  line-height: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.media_link {
 text-decoration: none !important;
}


.profile, .about_main, .contact_main, .work_main {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
  padding-top: 60px;
  padding-bottom: 60px;
}

.index-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}


.work_main {
  max-width: 900px;
}

.about_list {
  list-style-type: none;
}

.myskills {
  visibility: hidden;
}


.web {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

.meet_app_screenshot {
width: 250px;
height: auto
}


/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 50%;
  padding: 10px;
}
/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
    grid-gap: 20px;
  }

  .grid__item {
    background-color: var(--secondary-color);
    width: auto;
    min-height: auto;
    margin: 0;
  }
}

table, th, td {
  border: 1px solid;
  text-align: center;
}

th, td {
  height: 40px;
  width: 30%;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 38s cloud-move-reverse infinite alternate linear;
}

@media all and (max-width: 750px){
  .grid { grid-gap: 10px;
}
.grid__item:last-child {
  grid-column: auto / auto;
  grid-row: auto / auto;
}
h1 {
  font-size: 22px;
}
}

@media all and (min-width: 750px){
  .grid { grid-gap: 15px;
}
.grid__item:last-child {
  grid-column: auto / auto;
  grid-row: auto / auto;
 }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }  
  .navigation-list__item {
    font-size: 20px;
  } 
h1 {
  font-size: 30px;
}  
.profile, .about_main, .contact_main, .work_main {
  padding-top: 130px;
} 
body {
  padding-left: 5px;
  padding-right: 5px;
}  
}  

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  h1 {
    font-size: 30px;
  }
}  


